{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
{% load static %} 
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<h1>Progress</h1>
    <div class="gel">
        <div class="wrapper">
            <!--progress pie chart-->
            <div class="progress-pie-chart" data-percent="43">
                <div class="ppc-progress">
                  <div class="ppc-progress-fill"></div>
                </div>
                <div class="ppc-percents">
                  <div class="pcc-percents-wrapper">
                    <span>%</span>
                  </div>
                </div>
              </div> 
            <div class="progress">
              <div class="progress-bar null"></div>
            </div>  
        </div>
        <div class="item1"> 
          <h2>Skills</h2>
          <img src="https://img.icons8.com/color/70/000000/pie-chart--v1.png" id="image1"/>
          <img src="https://img.icons8.com/fluent/70/000000/combo-chart.png" id="image2"/>
          <div class="progress1">
            <div class="progress-bar null"></div>
          </div>  
        </div>
        <div class="item2">
          <h2>Awards</h2>
         <p><img src="https://img.icons8.com/fluent/100/000000/medal.png" id="image3"/>Congratulations!! You have reached a new level in the study course - Marketing Basics</p>
         <div class="progress1">
          <div class="progress-bar null"></div>
        </div>  
        </div>
    </div>

    <h1>My courses</h1>
    <div class="jelly">
        <div class="item3">
          <h2>Marketing and basics</h2>
          <button type="button">Start</button>
          <img src="static/present.png" id="image"/>
          <div class="progress2">
            <div class="progress-bar null"></div>
          </div>  
        </div>
        <div class="item4">
          <h2>Web development</h2>
          <button type="button">Start</button>
          <img src="static/template.png" id="image"/>
          <div class="progress2">
            <div class="progress-bar null"></div>
          </div>  
        </div>

        <div class="item5">
          <h2>Photoshop</h2>
          <button type="button">Start</button>
          <img src="static/deer.png" id="image"/>
          <div class="progress2">
            <div class="progress-bar null"></div>
          </div>  
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function(){
  var $ppc = $('.progress-pie-chart'),
    percent = parseInt($ppc.data('percent')),
    deg = 360*percent/100;
  if (percent > 50) {
    $ppc.addClass('gt-50');
  }
  $('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
  $('.ppc-percents span').html(percent+'%');
});
</script>
{% endblock body %}
 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

