{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}
{% block body %}
    {% load static %}
                {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
                <script src="{% static 'script.js' %}">
                </script>
            </head>
            <body>
            <center><h3>Quiz</h3>
                <h5>Question {{ questions.end_index }} of  {{count}}</h5></center>
                <div class="col-lg-8 border border-success p-4 m-4 mx-auto">
                
                            {% for i in questions%}
                            <h5>Q)  {{i.uestion}}</h5>
                            <form>
                                <div class="radio">
                                <label><input type="radio" name="name"  id="option1" value="{{i.option1}}">{{i.option1}} </label> 
                                </div>
                                <div class="radio">
                                <label > <input type="radio" name="name"  id="option2" value="{{i.option2}}">{{i.option2}}</label>
                              </div>
                              <div class="radio">
                                <label ><input type="radio" name="name" id="option3" value="{{i.option3}}">{{i.option3}}</label>
                              </div>
                                <div class="radio">
                                <label ><input type="radio" name="name"  id="option4" value="{{i.option4}}">{{i.option4}} </label>
                            </div>
                        </form>
                            {%endfor%}
                            <div class="form-group">
                                <button class="btn  btn-success" id="save_ans">Submit Answer</button>
                            </div>
                            <div class="paginator">
                              <div class="form-group">
                                {%  if questions.has_next %}
                                <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary" id="submitAnswer">Next</button></a>
                              {% else %}
                               <a href="{% url 'result'%}"><button class="btn form-control btn-success" id="submitAnswer">Submit Quiz</button></a>  
                              {% endif %} 
                              </div>
                             </div>  
                </div>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  
{% endblock %}