{% extends 'teacherbase.html' %}

{% block title %} Create Quiz {% endblock title %}
{% block body %} 

<h2>{{ note }}</h2>
<html>
{% load static %}
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static 'tan-light.css' %}">

</head>

<body>
  <div class="qfc-container">
    <h2>Join Us</h2>
    <label>Fill this form for us to get back to you regarding the work</label>
    <form enctype="Multipart/form-data" action="{% url 'joinus'%}" method="post">
    {% csrf_token %}
    {{ joinform}}
    <input type="submit" value="submit">
    <!-- <form method="post" action="{% url 'joinus'%}">
    {% csrf_token %}
      <div>
        <label>Describe Yourself</label>
        <div>
          <textarea placeholder="Eg. Enter Your Bio Here"></textarea>
        </div>
      <div>
        
        <div>
            <input placeholder="Email Address" type="email" required>
        </div>
        <div>
          <div>
            <input type="checkbox" checked="checked">
            <label>Send you a copy of Response</label>
          </div>
        </div>
        <div>
          <label>Experience </label>
          <select id>
                        <option disabled selected value="--">Select the Experience </option>
                        <option value="1-2 Years">1-2 Years</option>
                        <option value="3-5 Years">3-5 Years</option>
                        <option value="More than 5 years">More than 5 years</option>
                    </select>
        </div>
        
        <div>
          <label>Subject of Expertise</label>
          <select multiple>
                        <option value="Physics">Physics</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Biology">Biology</option>
                        <option value="Maths">Maths</option>
                    </select>
        </div>
        
        </div>
        <div>
          <label>Attach a photo</label>
          <div>
            <input type="file" id>
          </div>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form> -->
  </div>
</body>
</html>


{% endblock body %}


<!-- script -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
          <script src="form-validation.js"></script></body>