{% extends 'base.html' %}

{% block title %} Blog {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementByClassName('preview');
    Array.from(previews).forEach((element) => {
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">
    <h2>Courses:</h2>
    <div class="row">
   
    {% for post in allPosts %}

    <div class="card" style="width: 18rem; margin-left:20pt;">
      <img src="/media/{{post.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}} views)</strong></li>
      </ul>
  <div class="card-body">
    {% if post.check_enroll %}
                <a href="{% url 'deroll' post.slug %}" role="button" class="btn btn-primary">DEROLL</a>
                {% else %}
                <a href="{% url 'enroll' post.slug %}" role="button" class="btn btn-primary">ENROLL</a>
                <a href="{% url 'payment' %}" role="button" class="btn btn-primary">Pay</a>
                <!-- <a href="https://rzp.io/l/hwkQclL" role="button" class="btn btn-primary">Pay</a> -->
                
                {% endif %}
            </div>
  </div>
  

{% endfor %}
</div>
{% endblock body %}